<a href="https://colab.research.google.com/github/qkrtiger/Python/blob/main/python03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
game_score = int(input('게임점수를 입력하세요'))

if game_score >= 1000:
    print('고수입니다.')
else:
    print('입문자입니다.')

게임점수를 입력하세요800
입문자입니다.

In [ ]:
a = 0
b = 0
print(a == b)
print(a is b)

True
True

In [ ]:
num = 2
if num >= 1 and num <= 10:
    print(True)

True

In [15]:
score = int(input('점수를 입력하세요 :'))
if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
else:
    grade = 'F'
print('당신의 등급은 :', grade)

점수를 입력하세요 :88
당신의 등급은 : B

In [18]:
speed = int(input('자동차의 속도를 입력하세요(단위 : km/h) : '))
if speed >= 100 :
    print('고속')
elif speed >= 60:
    print('중속')
elif speed < 60 :
    print('저속')

자동차의 속도를 입력하세요(단위 : km/h) : 130
고속

In [19]:
# 루프 제어변수의 익명화
for _ in range(10):
    print('Welcome to everyone!!!!')

Welcome to everyone!!!!
Welcome to everyone!!!!
Welcome to everyone!!!!
Welcome to everyone!!!!
Welcome to everyone!!!!
Welcome to everyone!!!!
Welcome to everyone!!!!
Welcome to everyone!!!!
Welcome to everyone!!!!
Welcome to everyone!!!!

In [25]:
# 리스트로 출력
print(list(range(100)))

# 1 이상 100 이하의 짝수 리스트
print(list(range(2, 101, 2)))

# 1 이상 100 이하의 홀수 리스트
print(list(range(1, 101, 2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [28]:
# for문에서 end 인자 사용방법
for i in range(5):
    print(i, end = ' ')
print()
for i in range(5):
    print(i, end = ' ')

0 1 2 3 4
0 1 2 3 4

In [29]:
s = 0
for i in range(1, 11):
    s = s + i
print('1에서 10까지의 합:', s)

1에서 10까지의 합: 55

In [30]:
# 누적 덧셈의 중간 결과 출력하기
s = 0
for i in range(1,11):
    s = s + i
    print('i = {}, s = {}'.format(i,s))
print('1에서 10까지의 합:', s)

i = 1, s = 1
i = 2, s = 3
i = 3, s = 6
i = 4, s = 10
i = 5, s = 15
i = 6, s = 21
i = 7, s = 28
i = 8, s = 36
i = 9, s = 45
i = 10, s = 55
1에서 10까지의 합: 55

In [32]:
n = int(input('합계를 구할 수를 입력하세요 : '))
s = 0
for i in range(0, n):
    s = s + (i+1)
print('1에서 {}까지의 합은 : {}'.format(n,s))

합계를 구할 수를 입력하세요 : 100
1에서 100까지의 합은 : 5050

In [ ]:
fruits = ['사과', '바나나', '오렌지']
for fruit in fruits:
    print(fruit)

# join 방식으로 출력
print()
print(', '.join(fruits))

In [42]:
# 이중 for루프를 사용한 패턴 생성하기
n = 7
for i in range(n):
    st = ''
    for j in range(i):
        st = st + ' '
    print(st + '#')

# for 루프와 *를 사용한 패턴 생성하기
n = 7
for i in range(n):
    print(' '* i + '#')

#
 #
  #
   #
    #
     #
      #
#
 #
  #
   #
    #
     #
      #