<a href="https://colab.research.google.com/github/qkrtiger/Python/blob/main/class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# try-except 구문을 이용한 예외 처리
try:
    a, b = input('두 수를 입력하시오: ').split()
    result = int(a) / int(b)
    print('{}/{} = {}'.format(a, b, result))
except:
    print('수가 정확한지 확인하세요')

두 수를 입력하시오: 50 2
50/2 = 25.0

In [6]:
# try-except 문을 사용한 예외 처리와 예외의 종류 출력하기
try:
    b = 2/0
    a = 1 + 'hundred'
except Exception as e:
    print('error : ', e)

# 구체적인 예외처리
try:
    b = 2/0
    a = 1 + 'hundred'
except ZeroDivisionError:
    print('0으로 나누는 오류')
except TypeError:
    print('지원되지 않은 연산자를 사용하는 오류')

error :  division by zero
0으로 나누는 오류

In [10]:
try:
    a, b = input('두 수를 입력하시오: ').split()
    result = int(a) / int(b)
except ZeroDivisionError:
    print('오류 : 0으로 나눔을 시도했습니다.')
except ValueError:
    print('오류 : 입력 값이 정수나 실수가 아닙니다.')
except:
    print('오류 : 10 2와 같이 두 정수를 입력하세요.')
else: # 예외가 발생하지 않은 경우에 실행
    print(f'{a} / {b} = {result}')
finally:
    print('수행완료')

두 수를 입력하시오: 10 20
10 / 20 = 0.5
수행완료

In [13]:
# 클래스
class PersonalInfo:

    # Class attribute
    nationality = "Korean"

    #Initalizer, Instance attributes
    def __init__(self, name, age):
        self.name = name
        self.age = age

    # Instance method
    def getPersonalInfo(self):
        print("Name:", self.name)
        print("Age:", self.age)

    # Instance method
    def ageGroup(self):
        if self.age < 30:
            return 'under 30'
        else:
            return 'over 30'

# create an instance object
personal_choi = PersonalInfo("CK Chio", 25)

personal_choi.getPersonalInfo()
personal_choi.ageGroup()

Name: CK Chio
Age: 25

'under 30'

In [14]:
# Cat 클래스 정의와 meow() 메소드
class Cat:
    def meow(self):
        print('야옹 야옹~~~')

nabi = Cat()
nabi.meow()

야옹 야옹~~~

In [31]:
class Cat:
    # 생성자 혹은 초기화 메소드라 한다.
    def __init__(self, name, color, age = 0):
        self.__name = name # Cat 클래스의 인스턴스 변수를 감추는 역할
        self.__color = color
        self.__age = age

    def __str__(self):
        return f'Cat(name = {self.__name}, color = {self.__color}), age = {self.__age}'

    # 고양이의 정보를 출력하는 메소드
    def meow(self):
        print(f'내 이름은 {self.__name}, 색깔은{self.__color}, 나이는 {self.__age} 야옹야옹~~')

    # self.__age를 외부에서 자유롭게 접근하는 것을 제한하고 음수가 되지 않도록 함
    def set_age(self, age):
        if age > 0 :
            self.__age = age

    def get_age(self):
        return self.__age

ari = Cat('아리', '하얀색')
rang = Cat('랑', '턱시도')

ari.meow()
rang.meow()
print(ari)
print(rang)

ari.set_age(2)
ari.set_age(-3)
print(ari) #  -3이 마지막에 입력되었음에도 반영이 안됨

내 이름은 아리, 색깔은하얀색, 나이는 0 야옹야옹~~
내 이름은 랑, 색깔은턱시도, 나이는 0 야옹야옹~~
Cat(name = 아리, color = 하얀색), age = 0
Cat(name = 랑, color = 턱시도), age = 0
Cat(name = 아리, color = 하얀색), age = 2

In [39]:
# 클래스 A를 상속받는 클래스 B

#Emplyee와 Manager의 부모 클래스
class Person:
    def __init__(self, name):
        self.name = name

    def get_name(self):
        return self.name

class Employee(Person): # Person 클래스의 자식 클래스
    def __init__(self, name, salary=100):
        super().__init__(name) # 부모 클래스 접근에 super() 사용
        self.salary = salary

    def get_salary(self):
        # 부모 클래스 접근에 super() 사용
        return f'종업원 : {super().get_name()}, 급여 : {self.salary}'

worker1 = Employee('박동윤', 320)

print(worker1.get_salary())

종업원 : 박동윤, 급여 : 320

In [40]:
# 필터 함수
# filter(적용시킬 함수, {반복 가능 객체})

# 19세 이상의 값이 들어오면 True, 그렇지 않으면 False
def adult_func(n):
    if n >= 19:
        return True
    else:
        return False

ages = [34, 39, 20, 18, 13, 54]
print('성년 리스트 : ')

# filter() 함수를 사용한 ages의 필터링
for a in filter(adult_func, ages):
    print(a, end = ' ')

성년 리스트 :
34 39 20 54

In [41]:
# 람다 함수를 이용한 간략화된 필터
ages = [34, 39, 20, 18, 13, 54]

print('성년 리스트 : ')
for a in filter(lambda x: x >= 19, ages):
    print(a, end = ' ')

성년 리스트 :
34 39 20 54

In [42]:
# 맵 함수와 square() 함수 호출을 이용한 제곱값 리스트 생성
# map(적용시킬 함수, 반복 가능 객체, ....)
def square(x):
    return x ** 2

a = [1,2,3,4,5,6,7]
square_a = list(map(square, a))

print(square_a)

[1, 4, 9, 16, 25, 36, 49]