<a href="https://colab.research.google.com/github/qkrtiger/Python/blob/main/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# 매개변수 값 지정
def print_star(n=1):
    for _ in range(n):
        print('***************')

print_star() # 인자가 없더라도 에러없이 수행됨

***************

In [5]:
def div(a, b = 2):
    return a/b

print('div(4) =', div(4))
print('div(6,3) =', div(6,3))

div(4) = 2.0
div(6,3) = 2.0

In [6]:
# 키워드 인자
def get_root(a, b, c):
    r1 = (-b + (b**2-4*a*c)**0.5)/(2*a)
    r2 = (-b - (b**2-4*a*c)**0.5)/(2*a)
    return r1, r2

# 함수 호출 시 1,2,-8 인자를 사용한다.
# result1, result2를 이용해서 결과 값을 반환 받는다.
result1, result2 = get_root(1,2,-8)
print('해는', result1, '또는', result2)

해는 2.0 또는 -4.0

In [7]:
def func(shape, width=1, height=1, radius=1):
    if shape == 0:
        return width * height
    if shape == 1:
        return 3.14 * radius ** 2

print('rect area=', func(0, width=10, height=2))
print('circle area=', func(1, radius=5))

rect area= 20
circle area= 78.5

In [15]:
# 인자를 하나 가지는 함수
def greet1(name):
    print('안녕하세요',name, '씨')

greet1('홍길동')

print('-----------------------')
# 인자를 2개 가지는 함수
def greet2(name1, name2):
    print('안녕하세요',name1, '씨')
    print('안녕하세요',name2, '씨')

greet2('홍길동', '홍길순')

print('-----------------------')
# 가변 인자를 가지는 함수의 정의와 호출
# 별표(*)를 매개변수의 앞에 넣어 사용
def greet(*names):
    for name in names:
        print('안녕하세요', name, '씨')

greet('홍길동', '이순신')
greet('test')

print('-----------------------')
# 가변 인자를 가지는 함수를 이용한 합계 구하기
def sum_nums(*numbers):
    result = 0
    for n in numbers:
        result += n
    return result

print(sum_nums(10, 20, 30))

안녕하세요 홍길동 씨
-----------------------
안녕하세요 홍길동 씨
안녕하세요 홍길순 씨
-----------------------
안녕하세요 홍길동 씨
안녕하세요 이순신 씨
안녕하세요 test 씨
-----------------------
60

In [18]:
def sum_nums(*args):
    sum = 0
    avg = 0
    for n in args:
        sum += n
    avg = sum/len(args)
    return print('합계:', sum, '평균:', avg)

sum_nums(10, 20, 30)
sum_nums(10, 20, 30, 40, 50)

합계: 60 평균: 20.0
합계: 150 평균: 30.0

In [23]:
# 재귀함수
def countdown(n):
    if n == 0:
        print('boom')
    else:
        print(n)
        countdown(n-1)

countdown(5)

print('--------------------------------------------')

# n!의 재귀적 구현
def factorial(n):
    if n <= 1:
        return 1
    else:
        return n * factorial(n-1)
n = 5
print(n, '! =', factorial(n))

5
4
3
2
1
boom
--------------------------------------------
5 ! = 120

In [26]:
# 쉼표 구분자를 이용한 input() 함수 실습
num1, num2, num3 = input('세 정수를 ,로 구분하여 입력하세요 : ').split(',')
num1, num2, num3 = int(num1), int(num2), int(num3)
num1, num2, num3

세 정수를 ,로 구분하여 입력하세요 : 10, 20, 30

In [28]:
# 문자열
name = 'YoungCoder'
string = f'Congo,{name}'
print(string)

Congo,YoungCoder

In [36]:
# 고급 format() 메소드
for i in range(2, 15, 2):
    print('{0:3d} {1:4d} {2:10d}'.format(i, i*i, i*i*i))

print('-----------------------------------------')
# 1,000단위 쉼표 출력
print('{:,}'.format(1234567890))

  2    4          8
  4   16         64
  6   36        216
  8   64        512
 10  100       1000
 12  144       1728
 14  196       2744
-----------------------------------------
1,234,567,890

In [40]:
# del 명령어를 통한 리스트의 항목 삭제
n_list = [11, 22, 33, 44, 55, 66]
print(n_list)

# 인덱스번호로 삭제(del 사용)
del n_list[3] # 네 번째 항목(44) 삭제
print(n_list)

# remove로 삭제
n_list.remove(22)
print(n_list)

[11, 22, 33, 44, 55, 66]
[11, 22, 33, 55, 66]
[11, 33, 55, 66]

In [43]:
a_list = [10, 20, 30, 40]
print(10 in a_list)
print(50 in a_list)
print(10 not in a_list)
print(50 not in a_list)

True
False
False
True
aaa

In [45]:
prime_list = []

for num in range(1, 11):
    if num > 1:  # 1은 소수가 아님
        for i in range(2, num):
            if num % i == 0:
                break
        else:
            prime_list.append(num)

print('소수 목록 : ', prime_list)
# 11 추가
prime_list.append(11)

print('추가 후 소수 목록 : ',prime_list)

소수 목록 :  [2, 3, 5, 7]
추가 후 소수 목록 :  [2, 3, 5, 7, 11]

In [47]:
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print(nations)
nations.append('Nepal')
print(nations)

if 'Japan' not in nations:
    print('Japen는(은) 국가 목록에 없습니다.')
if 'Russia' not in nations:
    print('Russia(은) 국가 목록에 없습니다.')

['Korea', 'China', 'Russia', 'Malaysia']
['Korea', 'China', 'Russia', 'Malaysia', 'Nepal']
Japen는(은) 국가 목록에 없습니다.

In [48]:
# 리스트
list1 = [10, 20, 30, 40, 50]
i = 0
for n in list1:
    list1[i] = n * 10
    i = i + 1

print(list1)

[100, 200, 300, 400, 500]

In [53]:
# 리스트의 축약 표현
list1 = [10, 20, 30, 40, 50]
list1 = [n * 10 for n in list1]
print(list1)

# 리스트 슬라이싱
a_list = [10, 20, 30, 40, 50, 60, 70, 80]
print(a_list[1:5])

[100, 200, 300, 400, 500]
[20, 30, 40, 50]